errbot==4.1.3
sleekxmpp
pyasn1-modules
irc
hypchat
slackclient
python-telegram-bot
feedparser
beautifulsoup4
whois
gitpython
jsonpickle
sqlalchemy
whoosh
tvdb_api
pyfiglet
pyotp
qrcode
twilio
pyquery
jira
IPython
filemagic
six>=1.9
